{% extends "base_main.html" %}
{% load static %}
{% load i18n %}



{% block title %}
    {{ title }}
{% endblock %}

{% block main %}   

    <div class="row">
        <div class="col-lg-6 mb-3">
            <img class="img-fluid" src="{{ product.image.image.url }}" alt="{{ product.image.title }}">        
        </div>
        <div class="col-lg-6 mb-3">
            <h2>{{ product.title }}</h2>
            <div class="text-danger fw-bold fs-4">
                {{ product.price }} €
            </div>
            <hr>
            <p>
                {% autoescape off %}
                    {{ product.description }}
                {% endautoescape %}
            </p>
            <hr>
            <form action="{% url "shop-add-item" %}" method="post" id="add-item-to-cart-form">
                {% csrf_token %}
                <input type="hidden" name="product-id" value="{{ product.id }}">
                <div class="mb-3">
                    <label for="product-size" class="form-label">{% trans "Size" %}</label>
                    <select class="form-select" name="product-size" id="product-size">
                        {% for size in product_sizes %}
                            <option value="{{ size.id }}">{{ size.title }}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="mb-3">
                    <label for="product-amount" class="form-label">{% trans "Amount" %}</label>
                    <input class="form-control" type="number" name="product-amount" id="product-amount" min="1" step="1" value="1">
                </div>
                <button id="add-item-to-cart-submit" class="btn btn-danger">{% trans "Order" %}</button>
            </form>
        </div>
    </div>
    <hr>
    <a href="#" class="btn btn-secondary back-link">{% trans "Back" %}</a>
  


   
{% endblock %}

{% block js %}
    <script src="{% static "shop/js/add_item_to_cart.js" %}"></script>
{% endblock %}


