{% extends "base_main.html" %}
{% load static %}
{% load i18n %}



{% block title %}
    {{ title }}
{% endblock %}

{% block main %}   

    <div class="row">
        <div class="col-lg-6 mb-3">
            <img class="img-fluid" src="{{ product.image.image.url }}" alt="{{ product.image.title }}">        
        </div>
        <div class="col-lg-6 mb-3">
            <h2>{{ product.title }}</h2>
            <div class="text-danger fw-bold fs-4">
                {{ product.price }} €
            </div>
            <hr>
            <p>
                {% autoescape off %}
                    {{ product.description }}
                {% endautoescape %}
            </p>
            <hr>

        </div>
    </div>
    <hr>
    <a href="#" class="btn btn-secondary back-link">{% trans "Back" %}</a>
    <hr>
    <div>
        <form action="{% url "shop-add-item" %}" method="post" id="add-item-to-cart-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %} 
            </div>
        {% endfor %}




            <button id="add-item-to-cart-submit" class="btn btn-danger">{% trans "Add to cart" %}</button>
        </form>
    </div>
  


   
{% endblock %}

{% block js %}
    <script src="{% static "shop/js/add_item_to_cart.js" %}"></script>
{% endblock %}


